/* .main-container {
    height:500px;
    width:90%;
    color: white;
    border: 1px solid black;
    margin: 0 auto;
    background: linear-gradient(180deg, white 0%, white 10%, #e0003e 10%, #e0003e 90%, white 10%, white 10% );
} */